*.*
!.gitignore
!epi/**
!feedthetrolls/**
!gamemodes/**
!guesswho/**
!hats/**
!hideandseek/**
!randomizer/**
!editor/**
!editor/**
!ftt.inc
!hats_editor.inc
!jutils.inc
!l4d_anti_rush.inc
!l4d2_perms.inc
!l4d2_detections.inc
!l4d_survivor_identity_fix.inc
!l4d2_usermsg.inc
!overlay.inc
!player_notes.inc
!tkstopper.inc
!anymap.inc