**/
!plugins
!scripting
!scripting/include
!gamedata/
!data/
template.config.js
.*
scripting/sm_give.sp
scripting/include/steamtools.inc
scripting/L4D2Testing.sp
plugins/L4D2Testing.smx
scripting/cancer.sp
plugins/sm_give.smx
plugins/l4d2_stats_recorder.smx
scripting/l4d2_stats_recorder.sp