**/
!data/
!data/**
!gamedata/
!plugins
!scripting
!scripting/include
!scripting/include/feedthetrolls
!scripting/include/hideandseek
!scripting/hideandseek.sp
!scripting/guessswho.sp
!scripting/include/guessswho
.push.settings.jsonc*
template.config.js
scripting/sm_give.sp
scripting/include/steamtools.inc
scripting/L4D2Testing.sp
plugins/L4D2Testing.smx
scripting/cancer.sp
plugins/sm_give.smx
plugins/l4d2_stats_recorder.smx
scripting/l4d2_stats_recorder.sp
scripting/include/smlib.inc
scripting/l4d2_custom.sp
plugins/l4d2_custom.smx
plugins/disable_cameras.smx
plugins/l4d_esfp.smx
plugins/customstatus.smx
scripting/l4d_esfp.sp
scripting/customstatus.sp
plugins/ssh.smx
scripting/include/ssh.inc
scripting/ssh.sp
scripting/l4d2_witch_force_attack_cmd.sp
